.root {
    -fx-font-size: 2em;
    -fx-padding: 20;
}

.grid-conn {
    -fx-vgap: 4;
    -fx-hgap: 4;
    -fx-alignment: center;}

.vbox-conn {
}

.aaaa {
    -fx-font-size: 70;
}

.lbl-sel-prod {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.lbl-sel-prod-sub {
    -fx-text-fill: blue;
    -fx-font-color: blue;
}

.arrow-icon-sel-prod {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.txt-fld-quantity {
    -fx-font-size: 2.5em;
    -fx-padding: 0.5em;
}

.numpad .button {
    -fx-font-size: 2em;
}

.den-prod-record-list-cell {
    -fx-font-weight: bold;
}

/*
.tbl-product-record-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
*/
.tbl-product-record-view .table-cell {
    -fx-padding: 10;
    -fx-alignment: CENTER-RIGHT;
}
/*
.tbl-product-record-view .table-row-cell:filled:focused:selected {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-fill: white;
}*/

.tbl-product-record-view .table-row-cell:filled:focused:selected .text {
    -fx-fill: -fx-selection-bar-text;
}

/*
.tbl-product-record-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: LIGHTSTEELBLUE;
}*/
