/*


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}


.list-cell:selected {
    -fx-text-fill:  -main-light-color;
    -fx-background-color: -main-dark-color;
}

.button {
    -fx-background-color: -main-dark-color;
    -fx-text-fill: -main-light-color;
}

* {
    -main-dark-color: #4f2c1d;
    -main-light-color: white;
}

* {
    -fx-font-size: 24.0;
}


*/

* {
    -color-primary : #fff;
    -color-secondary : #4f2c1d;
    -color-secondary-50 : rgb(79,44,29,0.5);
    -color-secondary-25 : rgb(79,44,29,0.25);
    -color-text-label1: #4f2c1d;
    -color-text-label2: #4f2c1d;
    -color-text-button1: #4f2c1d;
    -color-text-button2: #fff;

}

.button{
    -fx-padding : 10 20 10 20;
}

.list-cell {
    -fx-font-size: 15.0;
}


/*Add product record view*/
.add-prod-view {
    -fx-font-size: 24.0;
    -fx-background-color: -color-primary;
    -fx-font-color: -color-secondary;
}

/*Top*/
.add-prod-view .border-pane-top {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -color-secondary;
}
.add-prod-view .header1 {
    -fx-font-size: 30.0;
    -fx-font-color: -color-secondary;
    -fx-font-weight: bold;
}
/*Center*/
.add-prod-view .border-pane-center {
    -fx-border-width: 0 2 0 0;
    -fx-border-color: -color-secondary;
}
.add-prod-view .table-view {
    -fx-background-color: transparent;
}
.add-prod-view .table-view .column-header {
    -fx-background-color: -color-primary;
    -fx-font-weight: normal;
}
.add-prod-view .table-view .column-header-background .filler {
    -fx-background-color: -color-primary;
}
.add-prod-view .table-column {
  -fx-alignment: CENTER-RIGHT;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: -color-secondary-25;
}
.add-prod-view .table-cell {
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10;
    -fx-border-color: -color-secondary-25;
    -fx-cell-size: 24.0;
}
/*Right*/
.add-prod-view .numpad .button {
    -fx-padding : 0;
    -fx-background-color: -color-secondary-25;
    -fx-text-fill: -color-text-button1;
    -fx-font-size: 35;
}
.add-prod-view .numpad .button:hover {
    -fx-padding : 0;
    -fx-background-color: -color-secondary-50;
    -fx-text-fill: -color-text-button1;
    -fx-font-size: 35;
}
.add-prod-view .numpad .button:pressed {
    -fx-padding : 0;
    -fx-background-color: -color-secondary;
    -fx-text-fill: -color-text-button2;
    -fx-font-size: 35;
}

/*GENERAL*/
